/* BASE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s ease;
}

/* LIGHT THEME */
:root {
    --bg: #f4f6fb;
    --card: white;
    --text: #111;
    --sidebar: #1e1e2f;
    --accent: #4e54c8;
}

/* DARK THEME */
.dark {
    --bg: #0f111a;
    --card: #1a1d2b;
    --text: #ffffff;
    --sidebar: #000000;
    --accent: #8f94fb;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: var(--sidebar);
    color: white;
    padding: 20px;
    position: fixed;
}

.sidebar a {
    display: block;
    color: #bbb;
    margin: 15px 0;
    cursor: pointer;
}

.sidebar a:hover {
    color: white;
}

/* DARK BUTTON */
.dark-btn {
    margin-top: 20px;
    padding: 8px;
    width: 100%;
    border: none;
    cursor: pointer;
}

/* MAIN */
.main {
    margin-left: 240px;
    padding: 30px;
    width: 100%;
}

/* CARD */
.card {
    background: var(--card);
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}
/* ANALYTICS GRID */
.analytics-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* BUTTON */
button {
    background: var(--accent);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

/* DELETE */
.delete {
    color: red;
    text-decoration: none;
}

/* HIDE PAGES */
.hidden {
    display: none;
}

/*Fade animation*/
.fade-in {
    animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}